<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RedBus</title>

    <link rel="shortcut icon" href="../../images/fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/redbus.css">
</head>

<body>
    <header>
        {{> _navbar}}
    </header>

    {{{body}}}
    <!--Dynamic content should be call in body interpolation -->

    <script src="../../jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/redbus.js"></script>
</body>

</html>